<!doctype html>
<html lang="en">
<body>
<table style="background-color: #662B82;width: 600px;height: 500px">
    <tr>
        <td>
            <table style="width: 500px; height: 400px;margin: 0 auto;background: #F7F7E4;">
                <tr>
                    <td>
                        <h1 style="text-align: center">Site</h1>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <h1 style="color: #336598">
                            Forgot your password ?
                        </h1>
                        <a style="
                                 margin-top: 5px;
                                 margin-bottom: 5px;
                                 color: #fff;
                                 background-color: #E96024;
                                 padding: 10px 16px;
                                 font-size: 18px;
                                 line-height: 1.3333333;
                                 border-radius: 6px;
                                 display: inline-block;
                                 font-weight: 400;
                                 text-align: center;
                                 white-space: nowrap;
                                 vertical-align: middle;
                                 -ms-touch-action: manipulation;
                                 touch-action: manipulation;
                                 cursor: pointer;
                                 -webkit-user-select: none;
                                 -moz-user-select: none;
                                 -ms-user-select: none;
                                 user-select: none;
                                 background-image: none;
                                 border: 1px solid transparent;
                                 text-decoration: none;" href="<%= data.link %>">
                            Reset password
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 style="text-align: center">&copy; Team our</h3>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>

